* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightblue;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
  font-size: 1.5rem;
}

.game-grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    '. . btn btn btn . .'
    '. . btn btn btn . .'
    'usr usr usr . cmp cmp cmp'
    'usr usr usr . cmp cmp cmp'
    'usr usr usr . cmp cmp cmp'
    '. . scr scr scr . .'
    '. . scr scr scr . .';
}

/* TODO: Figure out sizing */

.user-buttons {
  background: lightcoral;
  grid-area: btn;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

#rock-button,
#paper-button,
#scissors-button {
  width: 20%;
  height: 50%;
}

.user-selection {
  grid-area: usr;
  background: lightpink;
  height: 50vh;
  position: relative;
  left: 10%;
}

.comp-selection {
  grid-area: cmp;
  background: lightgreen;
  position: relative;
  right: 10%;
}

.score-card {
  grid-area: scr;
  background: lightseagreen;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .game-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-areas:
      'btn btn btn btn btn btn btn'
      'btn btn btn btn btn btn btn'
      'usr usr usr . cmp cmp cmp'
      'usr usr usr . cmp cmp cmp'
      'usr usr usr . cmp cmp cmp'
      '. . scr scr scr . .'
      '. . scr scr scr . .';
  }
  .user-buttons {
    width: 100vw;
  }
}
