* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'DigitalFont';
  src: url(../fonts/wwDigital.ttf);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DigitalFont';
}

h2 {
  text-align: center;
}

li {
  list-style: none;
  font-size: 2rem;
}

/* TODO: Figure out ideal sizing for buttons */
/* TODO: FIX: Images shrink faster than their containers */
.user-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: min(600px, 100vw);
}

#rock-button,
#paper-button,
#scissors-button {
  all: unset;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  cursor: pointer;
}

#rock-button {
  background-image: url(../images/rock-cpu.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}
#paper-button {
  background-image: url(../images/paper-user.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}
#scissors-button {
  background-image: url(../images/scissors-user.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
}

#rock-button:hover,
#paper-button:hover,
#scissors-button:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  background-size: 85%;
}

.choices-body {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  position: relative;
  top: 25px;
  height: 50vh;
}

.user-selection {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-r-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-r-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-p-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-p-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-s-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-s-win {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-r-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-r-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-p-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-p-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}
.user-selection-s-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}

.comp-selection-s-lose {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px white inset;
  width: min(500px, 50vw);
  border-radius: 20px;
}

#user-selection-image,
#comp-selection-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#user-selection-image img,
#comp-selection-image img {
  width: 80%;
}

.score-cards {
  position: relative;
  top: 50px;
  display: flex;
  gap: 25%;
  width: min(600px, 100vw);
  justify-content: center;
  height: 20vh;
}

.score-cards ul {
  background: black;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: red;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3), -10px -10px 10px white;
}

.play-counter-card {
  height: 50%;
}

.play-counter-card li {
  font-size: 1.5rem;
}

#computer-score,
#user-score {
  font-size: 9rem;
  position: relative;
  bottom: 20px;
}

#plays {
  font-size: 3rem;
}
